#pos{
    font-size: x-large;
    color: #985F6F;
    text-align: left;

}

#date{
    font-size: large;
    color: #519872;
    text-align: left;
   
}

.exp{
    padding-left: 20vw;
}

.border{
    border-bottom: 1px solid #1F5673;
    margin-right: 20vw;
}