#pos {
  font-size: large;
  color: #985f6f;
  text-align: center;
  margin-top: 4vh;
}

.desc {
  width: 23vw;
  height: 23vh;
  background-color: #d9d9d9;
  border-radius: 20px;
  padding-top: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 15vh;
}

.header {
  padding-top: 1vh;
  width: 23vw;
  height: 23vh;
  background-color: #d9d9d9;
  border-radius: 20px;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 15vh;
}

#date {
  font-size: x-large;
  color: #519872;
  text-align: left;
}

#company {
  font-size: x-large;
  color: #1e1e24;
  text-align: left;
}

.exp {
  padding-left: 20vw;
}

.exp.align-right {
  margin-left: 100%;
}

.border {
  border-bottom: 1px solid #1f5673;
  margin-right: 20vw;
}

/*.moving-component {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.moving-component.visible {
  transform: translateX(0);
  opacity: 1;
}*/
