.Proj1{
    width: 20vw;
    background-color: #D9D9D9;
    border-radius: 15px;
    padding-left: 2vw;
    padding-right: 2vw;
 
}

#head_comp{
    color: #985F6F;
    font-size: x-large;
}

#desc_comp{
    color: #519872;
    font-size: large;
}