.contact-section {
  background-color: #dccde8;
  padding-bottom: 90vh;
  margin-top: 10vh;
}

#head-contact {
  color: #1f5673;
  font-size: xx-large;
  padding-left: 20vw;
}

#or {
  color: #519872;
  font-size: x-large;
  padding-left: 20vw;
}

#linkedin {
  color: #519872;
}
