.home-section {
    text-align: left;
    background-color: #DCCDE8;
    white-space: inherit;
  }

  
  .text{
    /* margin-right: 30px;
    position: relative;
    top: 200px; */
    margin-top: 10vw;
  }
  
  .mypic {
    height: 40vmin;
    pointer-events: none;
    display: flex;
    border-radius: 30px;
    margin-left: 50px;
    margin-bottom: 100px;
    position: relative;
    top: 100px;
  }
  
  .hi{
    text-align: left;
    font-family: inherit;
    font-weight: bold;
    color: #1F5673;
    font-size: larger;
  }
  
  .passions{
    text-align: left;
    font-family: inherit;
    color: #519872;
    font-weight: 500;
    border-right: 2px solid #1F5673;
    overflow: hidden;
    white-space: nowrap;
  }

  .anim-typewriter{
    animation: typewriter 4s steps(22) 0.5s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }

  @keyframes typewriter{
    from{width: 0%;}
    to{width: 75vw; border-right:0px;}
  }

  @keyframes blinkTextCursor{
    from {border-right-color: rgba(0,0,0,0.75);}
    to{border-right-color: transparent;}
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }